<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country_city.name %>
</p>

<%= link_to 'Edit', edit_country_city_path(@country_city) %> |
<%= link_to 'Back', country_cities_path %>
